//Profile

.profile-container {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        width: 100%;
        margin: 10px 0;

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label {
            padding-right: 10px;
            font-weight: bold;
            width: 15%;
            justify-content: left;
        }

        input {
            padding: 5px 10px;
            width: 80%;
        }

        p {
            width: 80%;
            justify-content: left;
            display: flex;
            padding: 5px 10px;
            background-color: white;
            margin: 0;
        }
    }

    &--back-btn,
    &--submit-btn {
        width: fit-content;
    }

    form {
        display: flex;
        flex-wrap: wrap;

        &#resetPass {
            .profile-container__item label {
                width: 30%;
            }
        }
    }
}