//Settings

.settings-container {

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 0;

        label {
            width: 100%;
            margin: 10px 0;
            font-size: 17px;
            font-weight: bold;
        }
    }

    &__api-token {
        padding-top: 20px;
        border-top: 2px solid black;

        .api-token {
            padding: 10px;
            background-color: white;
            width: 100%;
            font-weight: bold;
        }
    }

    &__radio {
        flex-wrap: nowrap;

        input {
            margin: 0 10px 0 0;
        }

        label {
            display: flex;
            width: 35%;
            align-items: center;
        }
    }

    .settings-container__form {
        display: flex;
        flex-wrap: wrap;

        &--back-btn,
        &--submit-btn {
            width: fit-content !important;
        }
    }
}