//SIGNUP PAGE

.signup-background {
  height: 100vh;
  background: #8cd3ff;
}

.signup-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  top: 20%;
  left: calc(50% - 320px);
  padding: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    label {
      width: 100%;
    }

    input {
      width: 50%;
      padding: 10px;
      margin: 10px auto;
      text-align: center;
    }

    &--submit-btn {
      width: 100%;

      input {
        max-width: fit-content;
        padding: 5px 20px;
      }
    }
  }

  &__sigh-up {
    p {
      font-weight: bold;
    }

    a {
      color: steelblue;
    }
  }
}
