<html>
  <head>
    <title>DDH Registration</title>
  </head>
  <body>
    <div>
      <h2>Dear {{user}},</h2>
      <span style="font-weight: bold;">Your registration at DDH was successful!</span>
      <p>You can login the application at the link below: </p>
      <a href="http://localhost:5000/login">Link</a>
    </div>
  </body>
</html>