<html>
  <head>
    <title>DDH Password Reset</title>
  </head>
  <body>
    <div>
      <h2>Dear {{user}},</h2>
      <span style="font-weight: bold;"><p>You can change your password at the link below: </p></span>
      <a href="http://localhost:5000/reset/{{reghash}}">Link</a>
    </div>
  </body>
</html>