<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>{{username}} successfully logged in!</h5>
 
</body>
 
</html>