<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
</head>
 
<body>
    <div class="dashboard-container">
        <div class="dashboard-container__sidebar">
            <h2>Dashboard</h2>
            {{> header}}
        </div>
        <div class="dashboard-container__main">
            <h5>{{username}} successfully logged in!</h5>
        </div>
    </div>
</body>
 
</html>