<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Dashboard - Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
 
<body>
    {{> header}}
    <h2>Profile</h2>
    <h5>{{username}} profile</h5>
 
</body>
 
</html>