<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset-pass.css" />
</head>
 
<body>
    <div class="reset-pass-background">
        <div class="reset-pass-container">
            <div class="reset-pass-container__title"><h1>Reset Password</h1></div>
            <form class="reset-pass-container__form" id="reset-pass" name="reset-pass" method="post" action="reset-pass">
                <label for="email">Email Address</label>
                
                <input class="text" name="email" type="email" />

                <div class="reset-pass-container__form--submit-btn">
                    <input class="btn" type="submit" value="Reset password" />
                </div>
            </form>
            {{#if isPasswordReset }}
                <div class="error">{{{resetmessage}}}</div>
            {{/if}}
        </div>
    </div>
</body>
 
</html>