<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Login</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
 
<body>
    <div class="login-background">
        <div class="login-container">
            <div class="login-container__title"><h1>Login</h1></div>
            <form class="login-container__form" id="login" name="signin" method="post" action="login">
                <label for="email">Email Address</label>
                {{#if isEmailError }}
                    <div class="errorinputdiv">
                        <input class="text errmessage" name="email" type="email" />
                        <div class="error">{{{errmessage}}}</div>
                    </div>
                {{else}}
                    <input class="text" name="email" type="email" />
                {{/if}}
                <label for="password">Password</label>
                {{#if isPasswordError }}
                    <div class="errorinputdiv">
                        <input class="errmessage" name="password" type="password" />
                        <div class="error">{{{errmessage}}}</div>
                    </div>   
                {{else}}
                    <input name="password" type="password" />
                {{/if}}
                <div class="login-container__form--submit-btn">
                    <input class="btn" type="submit" value="Sign In" />
                </div>
            </form>
            <div class="login-container__sign-up"><p>New User? <a href="/signup">Create new account!</a></p></div>
            <div class="login-container__reset-pass"><a href="/reset-pass">Reset password!</a></div>
        </div>
    </div>
</body>
 
</html>