<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Login</title>
</head>
 
<body>
    <div class="login-container">
        <div class="login-container__title"><h1>Login</h1></div>
        <form class="login-container__form" id="login" name="signin" method="post" action="login">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign In" />
        </form>
        <div class="login-container__sign-up"><p>New User? <a href="/signup">Create new account!</a></p></div>
    </div>
</body>
 
</html>