<!DOCTYPE html>
<html>
 
<head>
    <title>DDH Login</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
 
<body>
    <div class="login-background">
        <div class="login-container">
            <div class="login-container__title"><h1>Login</h1></div>
            <form class="login-container__form" id="login" name="signin" method="post" action="login">
                <label for="email">Email Address</label>
                <input class="text" name="email" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <div class="login-container__form--submit-btn">
                    <input class="btn" type="submit" value="Sign In" />
                </div>
            </form>
            {{#if errmessage}}
                <div class="error">{{{errmessage}}}</div>
            {{/if}}
            <div class="login-container__sign-up"><p>New User? <a href="/signup">Create new account!</a></p></div>
        </div>
    </div>
</body>
 
</html>