<!DOCTYPE html>
<html>
 
<head>
    <title>DDH SignUp</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
</head>
 
<body>
    <div class="signup-background">
        <div class="signup-container">
            <div class="signup-container__title"><h1>Registration</h1></div>
            <form class="signup-container__form" id="signup" name="signup" method="post" action="/signup">
                <label for="email">Email Address</label>
                {{#if isEmailError }}
                    <div class="errorinputdiv">
                        <input class="text errmessage" name="email" type="email" />
                        <div class="error">{{{errmessage}}}</div>
                    </div>
                {{else}}
                    <input class="text" name="email" type="email" />
                {{/if}}
                <label for="firstname">Firstname</label>
                <input name="firstname" type="text" />
                <label for="lastname">Lastname</label>
                <input name="lastname" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <div class="signup-container__form--submit-btn">
                    <input class="btn" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</body>
 
</html>